<h1>Editing Post</h1>

<%= form_for :post, url: user_post_path, method: :patch do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </p>

    <p>
      <%= f.label :category %><br>
      <%= f.text_field :category %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </p>
   
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= button_to 'Back', user_posts_path, method: :get %>
